<!DOCTYPE html>
<html>
  <head>
    <title>Commandsapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to 'Home', root_path %>
  	<%= link_to 'High_Scores', high_scores_path %>
    <%= link_to 'Contacts', contacts_path %>
    <%= yield %>
  </body>
</html>
